%h1 Edit Company

%div#editcompany
 = form_tag company_path(@company), :method => :put do

  = render :partial => 'editcompany_form'


  -#= submit_tag 'Update Company Info'
%div#delete
 -# = link_to 'Delete Company', company_path(@company), :method=>:delete,
 -#      :confirm => "Are you sure?"
 = button_to 'Delete', company_path(@company), :method => :delete, :confirm => 'Are you sure?'

%div#back
 = link_to 'Back to company list', companies_path(:area_filter => @company.area) 

