.header
  =render :partial => 'header_form'

.form-title
  %h2 Modifica Compagnia

-#= form_for @company, :url => company_path(@company), :method => :put, :html => {:multipart => true} do |form|
= form_tag company_path(@company), :method => :put, :multipart => :true do
  = render :partial => 'company_form'

%div#button
  = button_to 'Annulla', companies_path(:area_filter => @selected_area), :method => :get, class: 'btn btn-warning custom'
  = button_to 'Elimina', company_path(@company), :method => :delete, class: 'btn btn-danger custom', data: {confirm: "Are you sure?"} 


 



