%h1 Add new company


= form_tag companies_path(@selected_area), :method => :post do
 = render :partial => 'company_form'

 -#= submit_tag 'Save'
%div#back
 = link_to 'Back to companies list', companies_path(:area_filter => @selected_area)
