.header
 =render :partial => 'header_form'

.form-title
 %h2 Nuova Compagnia

= form_tag companies_path(@selected_area), :method => :post, :multipart => :true do
 = render :partial => 'company_form'

%div#button
 = button_to 'Annulla', companies_path(:area_filter => @selected_area), :method => :get, class: 'btn btn-warning custom'
