.nav
  .container
    .row
      .col-md-5
        -#%img{:src =>"https://www.brokerstudio.it/wp-sito/wp-content/themes/shotzz/sprites/i/logo-broker.png"}
      .col-md-5
        %p Welcome to <span class="knowhow">Knowhow</span>, #{request.env['REMOTE_USER']} 
      .col-md-2
        %p= link_to 'Back to companies list', companies_path(:area_filter => @selected_area)

.jumbotron
  .container
    .newcompany-form
      %form.form-horizontal{:role => "form"}
        .form-header
          %h2 Add a new company
        .form-body
        .form-group
          .row
            .col-sm-3 
              %label.control-label{:for => "compagnia"} Compagnia 
            .col-sm-9
              %input#compagnia.form-control{:placeholder => "Enter Compagnia",:type => "text"}
        .form-group
          .row
            .col-sm-3 
              %label.control-label{:for => "area"} Area
            .col-sm-9
              %input#area.form-control{:placeholder => "#{@selected_area}",:type => "text"}
        .form-group
          .row
            .col-sm-3 
              %label.control-label{:for => "autore"} Autore
            .col-sm-9
              %input#autore.form-control{:placeholder => "#{request.env['REMOTE_USER']}",:type => "text"}
        .form-group
          .row
            .col-sm-3 
              %label.control-label{:for => "provvigione"} Provvigione
            .col-sm-9
              %input#provvigione.form-control{:placeholder => "Enter Provvigione",:type => "text"}
        .form-group
          .row
            .col-sm-3 
              %label.control-label{:for => "aggiornamento"} Ultimo Aggiornamento
            .col-sm-9
              %input#aggiornamento.form-control{:placeholder => "Enter Ultimo Aggiornamento",:type => "text"}
        .form-group
          .row
            .col-sm-3 
              %label.control-label{:for => "canale_1"} Canale 1
            .col-sm-9
              %input#canale_1.form-control{:placeholder => "Enter Canale 1",:type => "text"} 
        .form-group
          .row
            .col-sm-3 
              %label.control-label{:for => "canale_2"} Canale 2
            .col-sm-9
              %input#canale_2.form-control{:placeholder => "Enter Canale 2",:type => "text"} 
        .form-group
          .row
            .col-sm-3 
              %label.control-label{:for => "interlocutore"} Interlocutore
            .col-sm-9
              %input#interlocutore.form-control{:placeholder => "Enter Interlocutore",:type => "text"} 
        .form-group
          .row
            .col-sm-3 
              %label.control-label{:for => "note_operative"} Note Operative
            .col-sm-9
              %input#note_operative.form-control{:placeholder => "Enter Note Operative",:type => "text"} 
        .form-group
          .row
            .col-sm-3 
              %label.control-label{:for => "portale"} Portale
            .col-sm-9
              %input#portale.form-control{:placeholder => "Enter Portale",:type => "text"} 
        .form-group
          .row
            .col-sm-3 
              %label.control-label{:for => "premio_minimo"} Premio Minimo
            .col-sm-9
              %input#premio_minimo.form-control{:placeholder => "Enter Premio Minimo",:type => "text"} 
        .form-group
          .row
            .col-sm-3 
              %label.control-label{:for => "scheda_condizioni"} Scheda Condizioni
            .col-sm-9
              %input#scheda_condizioni.form-control{:placeholder => "Enter Scheda Condizioni",:type => "text"} 
        .form-group
          .row
            .col-sm-3 
              %label.control-label{:for => "questionari"} Questionari Nostri
            .col-sm-9
              %input#questionari.form-control{:placeholder => "Enter Questionari Nostri",:type => "text"} 
        .form-group
          .row
            .col-sm-3 
              %label.control-label{:for => "brochure"} Brochure ns o Compagnia
            .col-sm-9
              %input#brochure.form-control{:placeholder => "Enter Brochure ns o Compagnia",:type => "text"} 
        .form-group
          .row
            .col-sm-3 
              %label.control-label{:for => "nota_informativa"} Nota Informativa
            .col-sm-9
              %input#nota_informativa.form-control{:placeholder => "Enter Nota Informativa",:type => "text"} 
        %button.btn.btn-default{:type => "submit"} Save




-#.col-sm-offset-2.col-sm-10
-#%input#name.col-sm-offset-2.col-sm-10.form-control{:placeholder => "Enter Name", :type => "text"}


-#%div#editcompany
-#= form_tag companies_path(@selected_area), :method => :post do
-#= render :partial => 'company_form'

-#= submit_tag 'Save'

-#%div#back
-#= link_to 'Back to companies list', companies_path(:area_filter => @selected_area)
