/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html, body {
  margin: 0;
  padding: 0;
  background:white;
  color: DarkSlateGrey;
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 10pt;
}

a {
  background: transparent;
  color: maroon;
  Text-decoration: underline;
  font-weight: bold;
}
h1 {
  color:wheat;
  font-size: 150%;
  font-style: normal;
  display: block;
  width: 100%;
  border-bottom: 2px solid DarkSlateGrey;
}
h1.title {
  margin: 0 0 1em;
  padding: 10px;
  background-color: orange;
  color: red;
  border-bottom: 4px solid gold;
  font-size: 2em;
  font-style: normal;
}

table#energies {
  margin: 10px;
  border-collapse: collapse;
  width: 100%;
  border-bottom: 2px solid black;
}
table#energies th {
  border: 2px solid white;
  font-weight: bold;
  background-color: wheat;
}
table#energies th, table#energies td {
  padding: 4px;
  text-align: left;
}
table#energies tr:hover {
  background-color: yellow;  
}

#energies_tab {
    font-weight: normal;
    color: wheat;
}
